.task1 .item {
  transform: translate(200px, 150px);
}

.task2 .item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.task3 .item {
  position: fixed;
  top: 0;
  left: 0;
}

.container4 {
  position: relative;
}

.task4 {
  width: 1000px;  
}
.task4 .item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.task5 .item1 {
  background-color: red;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}
.task5 .item2 {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 0;
}
.task5 .item3 {
  position: absolute;
  background-color: green;
  z-index: 2;
}

.task6 .item {
  float: left;
  clear: left;
}

.task7 .item {
  float: right;
  clear: right;
}

.task8 .item1 {
  float: left;
}
.task8 .item2 {
  height: 120px;
  float: right;
}

.task8 p {
  clear: both;
}

.task9 .item1 {
  height: 200px;
  float: left;
}
.task9 .item2 {
  float: right;  
}
.task9 p { 
  clear: right;
}

.task10 .item1 {
  float: left;
}
.task10 .item2 {
  height: 200px;
  float: right;
}
.task10 p {
  clear: left;
}

.task11 .img-item {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.task12 .img-item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.task13 .img-item {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.task14 .img-item {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;  
}

.task15 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.task16 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  position: absolute;
  top: 0;
  left: 0;
}

.task17 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%)
}

.task18 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;

  position: absolute;
  left: 40px;
  top: 25px;
}

.task19 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;

  display: flex;
  justify-content: center;
  align-items: center
}

.task20 {
  user-select: none;
}

.task21 {
  user-select: all;
}

.task22 {
  cursor: text;
}

html {
  scroll-behavior: smooth;
}
